<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">&copy; 2016 Peter Szocs</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://twitter.com/pitanyc"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/szocs.peter"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/szocspeter"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/pitanyc"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4" ng-if="isProd">
                <ul class="list-inline quicklinks">
                    <li>
                        <a href="http://24counter.com/vmap/1438798172/">
                            <img class="img-rounded" src="http://24counter.com/map/view.php?id=1438798172" height="45">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>